<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Create Payment</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />

  <style>
    .container {
      width: 650px;
      font-size: 14px;
    }

    #bodyContent {
      padding: 0 30px;
    }

    #txtLink {
      font-size: 15px;
      color: #647081;
      width: 90%;
      padding: 11px;
      border: solid 1px #f1f2f6;
      border-radius: 10px;
      box-sizing: border-box;
    }

    #merchantName {
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      color: #fff;
      line-height: 1.2;
    }

    #merchantName .title {
      font-size: xx-large;
    }

    table.table-report {
      font-size: 14px;
    }

    table.table-report caption {
      border-top: 1px solid #002147;
      border-bottom: 1px solid #002147;
      font-weight: bold;
      font-size: large;
      padding: 7px 0;
    }

    table.table-report thead tr th {
      padding: 3px;
    }

    table.table-report tbody tr td {
      padding: 3px;
    }

    table.table-report tfoot tr th {
      background-color: #002147;
      padding: 5px 3px;
      font-size: large;
      font-weight: bold;
      color: #fff;
    }

    @media (max-width: 450px) {
      .container {
        width: 375px;
        font-size: 12px;
      }

      #bodyContent {
        padding: 0 15px;
      }

      #txtLink {
        font-size: 11px;
      }

      #merchantName .title {
        font-size: x-large;
      }

      table.table-report {
        font-size: 12px;
      }
    }
  </style>
</head>

<body style="background-color: #eff2f7;">
  <div class="container-wrapper"
    style="background-color: #eff2f7; width: 100%; color: #0b0b0b; font-size: 17px; line-height: 22px; font-family: Arial, Helvetica, sans-serif; padding: 40px 0">
    <div class="container" style="margin: 0 auto; overflow: hidden; border-radius: 12px; background-color: white;">
      <div id="header" style="background-color: #abcff3; text-align: center;">
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td style="text-align: center; vertical-align: middle;">
                <p id="merchantLogo" style="background-color: white; width: 50px; height: 50px; border-radius: 10px;overflow: hidden;
                      text-align: center; vertical-align: middle; display: inline-block;">
                  <img src="https://static.payme.vn/2021/11/10/WKPIKNQvs.png" alt="logo" style="width: 85%; ">
                </p>
                <p id="merchantName" style="display: inline-block; vertical-align: middle; margin-left: 5px;">
                  HỆ THỐNG TRƯỜNG <br>
                  <span class="title">TUỆ ĐỨC</span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="bodyContent" style="background-color: white;">
        <table style="width: 100%; margin: 0 auto; border-spacing: 0 5px;">
          <tbody>
            <tr>
              <td>
                Kính gửi Quý Phụ huynh,
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  Lời đầu tiên, <b>Hệ thống trường Tuệ Đức</b> gởi lời tri ân sâu sắc đến Quý Phụ huynh
                  đã luôn tin tưởng và đồng hành cùng nhà trường trong suốt thời gian qua. <br>
                  <b>Hệ thống trường Tuệ Đức</b> trân trọng gởi THÔNG BÁO HỌC PHÍ đến Quý Phụ huynh theo chi tiết
                  bên dưới: <br><br>

                  Họ & tên:
                  <strong>
                    <%= data.studentInfo.fullName %>
                  </strong> <br />
                  Lớp:
                  <strong>
                    <%= data.studentInfo.className %>
                  </strong> <br />
                  Cơ sở:
                  <strong>
                    <%= data.studentInfo.schoolBranch %>
                  </strong> <br />
                </p>
              </td>
            </tr>
          </tbody>
        </table>

        <div style="width: 100%; margin: 0 auto; padding: 5px 0; box-sizing: border-box;">
          <table class="table-report" style="margin-bottom: 10px;width: 100%; margin: 0 auto;">
            <caption>
              <%= data.detail.title %>
            </caption>
            <thead>
              <tr>
                <th style="text-align: left;">CÁC KHOẢN THU</th>
                <th style="text-align: center;">ĐVT</th>
                <th style="text-align: center;">SỐ LƯỢNG</th>
                <th style="text-align: right;">ĐƠN GIÁ</th>
                <th style="text-align: right;">THÀNH TIỀN</th>
              </tr>
            </thead>
            <tbody>
              <% data.tuition.items.forEach(function(tuition, index){ %>
                <tr>
                  <td>
                    <%= tuition.title %>
                  </td>
                  <td class="text-center">
                    <%= tuition.unit %>
                  </td>
                  <td class="text-center">
                    <%= tuition.quantity %>
                  </td>
                  <td class="text-right">
                    <%= data.helpers.formatCurrency(tuition.price) %>
                  </td>
                  <td class="text-right">
                    <%= data.helpers.formatCurrency(tuition.paymentAmount) %>
                  </td>
                </tr>
                <% }); %>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="4">TỔNG TIỀN</th>
                <th style="text-align: right;">
                  <%= data.helpers.formatCurrency(data.tuition.total) %>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>

        <div style="width: 100%; margin: 0 auto; padding: 15px 0; box-sizing: border-box;">
          <table style="width: calc(100% - 10px); margin: 0 auto;">
            <tbody>
              <tr>
                <td>
                  <h3 style="font-size: larger;">HƯỚNG DẪN THANH TOÁN</h3>
                  <b>Cách 1:</b> Quý phụ huynh bấm trực tiếp vào link sau để thanh toán:
                  <a href="<%= data.paymentLink %>">
                    <%= data.paymentLink %>
                  </a> <br>
                  <b>Cách 2:</b> Quý phụ huynh chuyển khoản theo thông tin bên dưới:<br>
                  <b>
                    <%= data.detail.bankAccount %>
                  </b><br>
                  Quý phụ huynh chuyển khoản vui lòng ghi theo cấu trúc sau:<br>
                  <b>"Ten Hoc Sinh_So Dien Thoai_Ten Co So"</b> để Nhà Trường cập nhật đúng thông tin.<br><br>

                  Kính mong Quý phụ huynh thanh toán trước ngày
                  <b>
                    <%= data.detail.submissionDeadline %>
                  </b>.Trường hợp Quý Phụ huynh đã thanh
                  toán xin vui lòng bỏ qua thông báo này.<br><br>

                  Mọi thông tin cần hỗ trợ Quý Phụ huynh vui lòng liên hệ: <%= data.detail.contact %><br><br>

                    Nhà trường xin chân thành cảm ơn và chúc Quý Phụ huynh sức khoẻ và bình an!<br><br>

                    Trân trọng,<br>
                    <b>Hệ thống trường Tuệ Đức</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div id="footer"
        style="padding: 15px; text-align: center;border-top: solid 1px #e1e6ee; font-size: 12px; color: #a5aeb8;">
        <table style="width: 100%; margin: 0 auto;">
          <tbody>
            <tr>
              <td style="text-align: right; vertical-align: middle; padding-bottom: 9px;">Power by</td>
              <td style="text-align: left; vertical-align: middle;">
                <img src="https://static.payme.vn/2021/11/05/1Rwhfjrdc.png" alt="">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>